<div class="card">
  <div class="p-grid p-ai-center p-jc-center">
    <img src="/assets/imagenes/devzero.jpeg" alt="" width="200">
  </div>

  <div class="p-grid p-ai-center p-jc-center vertical-container">

      <div class="p-fluid">
        <div class="p-field">
            <label for="username">Username</label>
            <input [(ngModel)]="user" pInputText id="username" type="text" />
        </div>
        <div class="p-field">
            <label for="password">Password</label>
            <input [(ngModel)]="password" pInputText id="password" type="password" />
        </div>
        <p-button (click)="login()" label="Login"></p-button>
      </div>
  </div>
</div>
